<!DOCTYPE html>
<html lang="en">
    <head>
          <title>My Blogspot</title>
            <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h2>My Blogspot</h2>
        
        <ul class="nav nav-pills">
              <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="/tech">Tech</a></li>
                <li role="presentation"><a href="#">Havyas</a></li>
                <li role="presentation"><a href="#">Paryatan</a></li>
                <li role="presentation"><a href="#">Random</a></li>
                  <li role="presentation"><a href="#">About</a></li>
        </ul>

        <div class="jumbotron">
              <div class="container">
                  <h3>Welcome!</h3>
                      <p>some content here</p>
                     <p><a class="btn btn-primary btn-lg" href="#" role="button">Explore</a></p>
              </div>
        </div>
    </body>
</html>        
